.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
  flex: 3;

  &--transfer {
    flex: 4;
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
  }

  &--recharge {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
  }

  &--withdraw {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  }

  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
  }

  .form {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.4rem 1rem;

    &.form--withdraw,
    &.form--recharge {
      grid-template-columns: 2.5fr 1fr;
    }

    &__label--withdraw,
    &__label--recharge {
      grid-row: 2;
    }

    &__input {
      width: 100%;
      border: none;
      background-color: rgba(255, 255, 255, 0.4);
      font-family: inherit;
      font-size: 1.5rem;
      text-align: center;
      color: #333;
      padding: 0.8rem 1rem;
      border-radius: 0.7rem;
      transition: all 0.3s;
    }

    &__input:focus {
      outline: none;
      background-color: rgba(255, 255, 255, 0.6);
    }

    &__label {
      font-size: 1.3rem;
      text-align: center;
    }

    &__btn {
      border: none;
      border-radius: 0.7rem;
      font-size: 1.8rem;
      background-color: #fff;
      cursor: pointer;
      transition: all 0.3s;
    }

    &__btn:focus {
      outline: none;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}
