.home {
  .widgets,
  .charts {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
  }

  .charts {
    padding: 0.5rem 2rem;
  }

  .list-container {
    box-shadow: 0.2rem 0.4rem 1rem 0.1rem rgba(201, 201, 201, 0.47);
    padding: 2rem;
    margin: 2rem 0;

    &__title {
      font-weight: 500;
      color: gray;
      margin-bottom: 1.5rem;
    }
  }
}
// }
