.user-view.dark {
  background-color: #111;
  color: rgb(156, 156, 156);

  .chart__chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .table__cell {
      color: gray;
      &:focus {
        outline: none;
      }
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    &__top {
      &__logo {
        color: #999;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }
      }
    }

    &__icon {
      // color: #999;
    }
  }

  .datatable {
    .datagrid {
      color: gray;
      border: none;

      .viewButton {
        color: rgb(0, 0, 189);
        border: none;
      }
      .deleteButton {
        color: rgb(158, 16, 44);
        border: none;
      }

      .cellWithStatus {
        border: none;

        &.active {
          background-color: rgba(0, 128, 0, 0.05);
          color: rgb(0, 100, 0);
        }
        &.pending {
          background-color: rgba(255, 217, 0, 0.05);
          color: rgb(173, 132, 28);
        }
        &.passive {
          background-color: rgba(255, 0, 0, 0.05);
          color: rgb(158, 16, 44);
        }
      }
    }
  }

  input {
    background-color: transparent;
  }
}
